<div class="flex items-center min-h-screen justify-center text-center">
  <div>
    <h1 class="font-bold text-4xl">Game Of Scrum</h1>
    <p>
    This is a Scrum Poker game that is designed to help make estimation and refinement more fun and engaging.
    </p>
  </div>
</div>
