<div class="w-full md:w-1/3 mx-auto p-8">
  <div class="py-4">
    <h1 class="text-3xl font-bold mb-2">Create Your Room</h1>
    <p class="text-zinc-500">We just need to know what to call you, and we'll create a room for you.</p>
  </div>
  <%= form_for :room, url: rooms_path do %>
    <% unless user_signed_in? %>
      <div class="mt-4">
        <%= label_tag :display_name, "Display name" %>
        <%= text_field_tag :display_name, nil, class: "w-full border rounded p-2" %>
        <div class="help-text">Enter your name that will be displayed to all guests.</div>
      </div>
    <% end %>
    <div class="mt-4">
      <%= submit_tag "Create Room", class: "btn btn-primary w-full" %>
      <p class="my-4 text-center text-zinc-500">Once your room has been created you can invite guests to join you.</p>
    </div>
  <% end %>
</div>
