@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
  --primary-color: @apply text-indigo-600;
  --primary-color-dark: @apply text-indigo-700;
  --text-color: @apply text-zinc-800;
}

/* alerts */
.alert {
  @apply p-2 w-full text-center;
}
.alert-alert, .alert-error {
  @apply bg-red-600 text-red-100;
}
.alert-notice {
  @apply bg-yellow-200 text-yellow-800;
}
.alert-success {
  @apply bg-green-600 text-green-100;
}

/* buttons */
.btn {
  @apply font-semibold py-3 px-4 rounded;
}
.btn-primary {
  @apply bg-zinc-800 text-white cursor-pointer hover:bg-zinc-900;
}
.btn-danger {
  @apply bg-red-600 text-white cursor-pointer hover:bg-red-700;
}

/* forms */
form .field {
  @apply my-4;
}

form label {
  @apply font-bold text-sm mb-2 text-zinc-800 block;
}

.help-text {
  @apply text-sm text-zinc-500 my-2;
}

/* global input styles */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='checkbox'],
[type='radio'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply outline-none border-zinc-300;
}
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  /* @apply outline-none border-blue-600; */
}


/* CSS for the dropdown menu */
.dropdown-menu {
  /* Set initial styles */
  transform: scale(0.95);
  opacity: 0;
  /* Set transition styles */
  transition: transform 100ms ease-out, opacity 100ms ease-out;
}
/* CSS for when the menu is shown */
.dropdown-menu.show {
  transform: scale(1);
  opacity: 1;
}
/* CSS for when the menu is hidden */
.dropdown-menu.hide {
  transform: scale(0.95);
  opacity: 0;
  display: none;
  transition-duration: 75ms;
  transition-timing-function: ease-in;
}
